.main {
    max-width: 728px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
}

.section {
    margin: 0 0 10px;
}

.progress {
    margin: 0 0 20px;
}